
// Descriptive color variabls

$white      : #fff;
$alabaster  : #fafafa; // header and footer background
$nevada     : #656a6e; // link / Nav items

$orange     : orange; // link hover
$clementine : #e56601; // link active

$scorpion   : #575757; // Title headings

//avatar
$concrete   : #f2f2f2; // avatar background

//footer
$alto       : #d6d6d6;

//header
$gray       : #8c8c8c;

// font-sizes
$standard-font: 16px;
$big-font     : 25px;


// font-family
$stack-lato: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;



$brk-narrow   : '(min-width: 768px)';
$brk-wide     : '(min-width: 1024px)';
